* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

//FOOTER
.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 1rem;
}
.attribution a { color: hsl(228, 45%, 44%); }